{% extends 'app/base.html' %}
{% block body %}

    <form class="form-horizontal">
        <fieldset>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Username</label>
                <div class="col-md-4">
                    <input id="" name="" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="">Password</label>
                <div class="col-md-4">
                    <input id="" name="" type="password" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for=""></label>
                <div class="col-md-8">
                    <button id="" name="" class="btn btn-primary">Login</button>
                    <a class="btn btn-default  " href="http://localhost:8080/home/">Register</a>

                </div>
            </div>

        </fieldset>
    </form>



{% endblock %}
<script>
    $(function () {
        alert("clicked")
        $('#go_home').click(function () {
            $.load('http://localhost:8080/home');
        });
    });
</script>
